<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  {% load staticfiles %}
  <title>视频播放</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script type="application/x-javascript">
  addEventListener("load", function() {
    setTimeout(hideURLbar, 0);
  }, false);
   function hideURLbar()
   { window.scrollTo(0,1);
   } </script>
  <link href="{% static 'css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' media="all" />
  <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
  <link href="{% static 'css/navstyle.css' %}" rel='stylesheet' type='text/css' media="all" />
  {% if "computer" == device %}
    <link href="{% static 'css/computer-style.css' %}" rel='stylesheet' type='text/css' media="all" />
  {% endif %}
  {% if "mobile" == device %}
    <link href="{% static 'css/mobile-style.css' %}" rel='stylesheet' type='text/css' media="all" />
  {% endif %}
  <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
</head>
  <body id='f-nav2'>
    {% if "computer" == device %}
     <div class="box" >
      <ul class="f-nav"  >
	        <li class="fontNav" onclick="tiao('main');">首页</li>
	        <li onclick="tiao('movie');">电影</li>
	        <li onclick="tiao('anime');">动漫</li>
	        <li onclick="tiao('tv');">电视剧</li>
	        <li onclick="tiao('documentary');">纪录片</li>
	       <div class='sideline'></div>
  	</ul>
  </div>
  <div class="top-search">
    <form class="navbar-form navbar-right" action="search">
      <!-- {% csrf_token %} -->
      <input type="text" class="form-control" id="form-control" name="form-control" placeholder="Search...">
      <input type="submit" value=" ">
    </form>
  </div>
      <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
      <script type="text/javascript" src="{% static 'js/jquery-nav.js' %}"></script>
      <script type="text/javascript">
      	$('#f-nav2').tooltip({
      		default: 0,
      		type: 'fontUp',
      		width: '150',
      	});
        function tiao(url){
          window.location.href=url;
        }
      </script>
      {% endif %}
    {% if "mobile" == device %}
        <div class="col-sm-3 col-md-2 sidebar"  style="position: fixed;top:0;z-index:9999;">
			<div class="top-navigation">
				<div class="t-menu">MENU</div>
				<div class="t-img">
					<img src="{% static 'images/lines.png' %}" alt="" />
				</div>
				<div class="clearfix"> </div>
			</div>
				<div class="drop-navigation drop-navigation">
				  <ul class="nav nav-sidebar">
					<li><a href="main" class="home-icon">首页</a></li>
					<li><a href="movie" class="user-icon">电影</a></li>
					<li class="active"><a href="anime" class="sub-icon">动漫</a></li>
					<li><a href="main" class="menu1">电视剧</a></li>
					<li><a href="main" class="menu">纪录片</a></li>
				  </ul>
						<script>

							$( ".top-navigation" ).click(function() {
							$( ".drop-navigation" ).slideToggle( 300, function() {
							// Animation complete.
							});
							});
						</script>
				</div>
        </div>
        {% endif %}
      <!-- <div style="width:auto;height:auto;"> -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          {% if "mobile" == device %}
          <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div id="navbar" class="navbar-collapse collapse">
    			<div class="top-search">
    				<form class="navbar-form navbar-right" action="search">
              <!-- {% csrf_token %} -->
    					<input type="text" class="form-control" id="form-control" name="form-control" placeholder="Search...">
    					<input type="submit" value=" ">
    				</form>
    			</div>
            </div>
          </div>
         </nav>
         {% endif %}
         <style>
             .recommended-grid-info a:hover {
             border-color: #ff920b;
             color: #ff920b;
             }
             .recommended-grid-info a:link,.recommended-grid-info a:visited{
              text-decoration:none !important;
             }
             {% if "mobile" == device %}
             .recommended-grid-img img{
               height: 270px !important;
             }
             {% else %}
             .recommended-grid-img img{
               height: 370px !important;
             }
             {% endif %}
             .recommended-grid-info h5{
               text-align: center !important;
             }
             .recommended-grid-info h5 a{
               color: #21DEEF !important;
             }
         </style>

  			<div class="main-grids">
          <script src="{% static 'js/responsiveslides.min.js' %}"></script>
  				<div class="recommended">
  					<div class="recommended-grids">
  						<div class="recommended-info">
  							<h3>电影</h3>
  						</div>
  						 <script>
  							// You can also use "$(window).load(function() {"
  							$(function () {
  							  // Slideshow 4
  							  $("#slider0").responsiveSlides({
  								auto: true,
  								pager: false,
  								nav: true,
  								speed: 1500,
  								namespace: "callbacks",
  								before: function () {
  								  $('.events').append("<li>before event fired.</li>");
  								},
  								after: function () {
  								  $('.events').append("<li>after event fired.</li>");
  								}
  							  });

  							});
  						  </script>
  						<div  id="top" class="callbacks_container">
  							<ul class="rslides" id="slider0">
  								<li>
  									<div class="animated-grids">
                      {% for movie in movies|slice:":6" %}
  										<div class="col-md-3 resent-grid recommended-grid slider-first">
  											<div class="resent-grid-img recommended-grid-img">
  												<a href="playing{{ movie.id }}type0" target="_blank"><img src="{{ movie.moviesimageurl }}" alt="" /></a>
  											</div>
  											<div class="resent-grid-info recommended-grid-info">
  												<h5><a href="playing{{ movie.id }}type0" target="_blank" class="title">{{ movie.moviesname }}</a></h5>
  												<div class="slid-bottom-grids">
  													<div class="clearfix"> </div>
  												</div>
  											</div>
  										</div>
                      {% endfor %}
  										<div class="clearfix"> </div>
  									</div>
  								</li>
                  <li>
  									<div class="animated-grids">
                      {% for movie in movies|slice:"6:12" %}
  										<div class="col-md-3 resent-grid recommended-grid slider-first">
  											<div class="resent-grid-img recommended-grid-img">
  												<a href="playing{{ movie.id }}type0" target="_blank"><img src="{{ movie.moviesimageurl }}" alt="" /></a>
  											</div>
  											<div class="resent-grid-info recommended-grid-info">
  												<h5><a href="movieplaying{{ movie.id }}type0" target="_blank" class="title">{{ movie.moviesname }}</a></h5>
  												<div class="slid-bottom-grids">
  													<div class="clearfix"> </div>
  												</div>
  											</div>
  										</div>
                      {% endfor %}
  										<div class="clearfix"> </div>
  									</div>
  								</li>
                  <li>
  									<div class="animated-grids">
                      {% for movie in movies|slice:"12:18" %}
  										<div class="col-md-3 resent-grid recommended-grid slider-first">
  											<div class="resent-grid-img recommended-grid-img">
  												<a href="playing{{ movie.id }}type0" target="_blank"><img src="//{{ movie.moviesimageurl }}" alt="" /></a>
  											</div>
  											<div class="resent-grid-info recommended-grid-info">
  												<h5><a href="playing{{ movie.id }}type0" target="_blank" class="title">{{ movie.moviesname }}</a></h5>
  												<div class="slid-bottom-grids">
  													<div class="clearfix"> </div>
  												</div>
  											</div>
  										</div>
                      {% endfor %}
  										<div class="clearfix"> </div>
  									</div>
  								</li>
  							</ul>
  						</div>
  					</div>
  				</div>





          <div class="recommended">
            <div class="recommended-grids">
              <div class="recommended-info">
                <h3>动漫</h3>
              </div>
               <script>
                $(function () {
                  // Slideshow 4
                  $("#slider1").responsiveSlides({
                  auto: true,
                  pager: false,
                  nav: true,
                  speed: 1500,
                  namespace: "callbacks",
                  before: function () {
                    $('.events').append("<li>before event fired.</li>");
                  },
                  after: function () {
                    $('.events').append("<li>after event fired.</li>");
                  }
                  });

                });
                </script>
              <div  id="top" class="callbacks_container">
                <ul class="rslides" id="slider1">
                  <li>
                    <div class="animated-grids">
                      {% for anm in anime|slice:"0:6" %}
                      <div class="col-md-3 resent-grid recommended-grid slider-first">
                        <div class="resent-grid-img recommended-grid-img">
                          <a href="playing{{ anm.id }}type1" target="_blank"><img style="height: 350px !important;" src="//{{ anm.animeimageurl }}" alt="" /></a>
                        </div>
                        <div class="resent-grid-info recommended-grid-info">
                          <h5><a href="playing{{ anm.id }}type1" target="_blank" class="title">{{ anm.animename }}</a></h5>
                          <div class="slid-bottom-grids">
                            <div class="clearfix"> </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                      <div class="clearfix"> </div>
                    </div>
                  </li>
                  <li>
                    <div class="animated-grids">
                      {% for anm in anime|slice:"6:12" %}
                      <div class="col-md-3 resent-grid recommended-grid slider-first">
                        <div class="resent-grid-img recommended-grid-img">
                          <a href="playing{{ anm.id }}type1" target="_blank"><img style="height: 350px !important;" src="//{{ anm.animeimageurl }}" alt="" /></a>
                        </div>
                        <div class="resent-grid-info recommended-grid-info">
                          <h5><a href="playing{{ anm.id }}type1" target="_blank" class="title">{{ anm.animename }}</a></h5>
                          <div class="slid-bottom-grids">
                            <div class="clearfix"> </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                      <div class="clearfix"> </div>
                    </div>
                  </li>

                  <li>
                    <div class="animated-grids">
                      {% for anm in anime|slice:"12:18" %}
                      <div class="col-md-3 resent-grid recommended-grid slider-first">
                        <div class="resent-grid-img recommended-grid-img">
                          <a href="playing{{ anm.id }}type1" target="_blank"><img style="height: 350px !important;" src="//{{ anm.animeimageurl }}" alt="" /></a>
                        </div>
                        <div class="resent-grid-info recommended-grid-info">
                          <h5><a href="playing{{ anm.id }}type1" target="_blank" class="title">{{ anm.animename }}</a></h5>
                          <div class="slid-bottom-grids">
                            <div class="clearfix"> </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                      <div class="clearfix"> </div>
                    </div>
                  </li>

                </ul>
              </div>
            </div>
          </div>




          <div class="recommended">
            <div class="recommended-grids">
              <div class="recommended-info">
                <h3>电视剧</h3>
              </div>
              <!-- <script src="{% static 'js/responsiveslides.min.js' %}"></script> -->
               <script>
                // You can also use "$(window).load(function() {"
                $(function () {
                  // Slideshow 4
                  $("#slider2").responsiveSlides({
                  auto: true,
                  pager: false,
                  nav: true,
                  speed: 1500,
                  namespace: "callbacks",
                  before: function () {
                    $('.events').append("<li>before event fired.</li>");
                  },
                  after: function () {
                    $('.events').append("<li>after event fired.</li>");
                  }
                  });

                });
                </script>
              <div  id="top" class="callbacks_container">
                <ul class="rslides" id="slider2">
                  <li>
                    <div class="animated-grids">
                      {% for t in tv|slice:"0:6" %}
                      <div class="col-md-3 resent-grid recommended-grid slider-first">
                        <div class="resent-grid-img recommended-grid-img">
                          <a href="playing{{ t.id }}type2" target="_blank"><img style="height: 350px !important;" src="//{{ t.tvimageurl }}" alt="" /></a>
                        </div>
                        <div class="resent-grid-info recommended-grid-info">
                          <h5><a href="playing{{ t.id }}type2" target="_blank" class="title">{{ t.tvname }}</a></h5>
                          <div class="slid-bottom-grids">
                            <div class="clearfix"> </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                      <div class="clearfix"> </div>
                    </div>
                  </li>
                  <li>
                    <div class="animated-grids">
                      {% for t in tv|slice:"6:12" %}
                      <div class="col-md-3 resent-grid recommended-grid slider-first">
                        <div class="resent-grid-img recommended-grid-img">
                          <a href="playing{{ t.id }}type2" target="_blank"><img style="height: 350px !important;" src="//{{ t.tvimageurl }}" alt="" /></a>
                        </div>
                        <div class="resent-grid-info recommended-grid-info">
                          <h5><a href="playing{{ t.id }}type2" target="_blank" class="title">{{ t.tvname }}</a></h5>
                          <div class="slid-bottom-grids">
                            <div class="clearfix"> </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                      <div class="clearfix"> </div>
                    </div>
                  </li>
                  <li>
                    <div class="animated-grids">
                      {% for t in tv|slice:"12:18" %}
                      <div class="col-md-3 resent-grid recommended-grid slider-first">
                        <div class="resent-grid-img recommended-grid-img">
                          <a href="playing{{ t.id }}type2" target="_blank"><img style="height: 350px !important;" src="//{{ t.tvimageurl }}" alt="" /></a>
                        </div>
                        <div class="resent-grid-info recommended-grid-info">
                          <h5><a href="playing{{ t.id }}type2" target="_blank" class="title">{{ t.tvname }}</a></h5>
                          <div class="slid-bottom-grids">
                            <div class="clearfix"> </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                      <div class="clearfix"> </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>


          <div class="recommended">
            <div class="recommended-grids">
              <div class="recommended-info">
                <h3>纪录片</h3>
              </div>
              <!-- <script src="{% static 'js/responsiveslides.min.js' %}"></script> -->
               <script>
                // You can also use "$(window).load(function() {"
                $(function () {
                  // Slideshow 4
                  $("#slider3").responsiveSlides({
                  auto: true,
                  pager: false,
                  nav: true,
                  speed: 500,
                  namespace: "callbacks",
                  before: function () {
                    $('.events').append("<li>before event fired.</li>");
                  },
                  after: function () {
                    $('.events').append("<li>after event fired.</li>");
                  }
                  });

                });
                </script>
              <div  id="top" class="callbacks_container">
                <ul class="rslides" id="slider3">
                  <li>
                    <div class="animated-grids">
                      <div class="col-md-3 resent-grid recommended-grid slider-first">
                        <div class="resent-grid-img recommended-grid-img">
                          <a href="single.html"><img style="height: 350px !important;" src="https://3img.hitv.com/preview/internettv/sp_images/ott/2017/dianying/321172/20171226103010661-new.jpg" alt="" /></a>
                        </div>
                        <div class="resent-grid-info recommended-grid-info">
                          <h5><a href="single.html" class="title">Varius sit sed viverra nullam viverra nullam interdum metus</a></h5>
                          <div class="slid-bottom-grids">
                            <div class="slid-bottom-grid">
                              <p class="author author-info"><a href="#" class="author">John Maniya</a></p>
                            </div>
                            <div class="slid-bottom-grid slid-bottom-right">
                              <p class="views views-info">2,114,200 views</p>
                            </div>
                            <div class="clearfix"> </div>
                          </div>
                        </div>
                      </div>
                      <div class="clearfix"> </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>



  				</div>
  			</div>
  <!-- </div> -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
