<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  {% load staticfiles %}
  <title>视频播放</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script type="application/x-javascript">
  addEventListener("load", function() {
    setTimeout(hideURLbar, 0);
  }, false);
   function hideURLbar()
   { window.scrollTo(0,1);
   } </script>
  <link href="{% static 'css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' media="all" />
  <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
  <link href="{% static 'css/navstyle.css' %}" rel='stylesheet' type='text/css' media="all" />
  {% if "computer" == device %}
    <link href="{% static 'css/computer-style.css' %}" rel='stylesheet' type='text/css' media="all" />
  {% endif %}
  {% if "mobile" == device %}
    <link href="{% static 'css/mobile-style.css' %}" rel='stylesheet' type='text/css' media="all" />
  {% endif %}
  <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
</head>
  <body id='f-nav2'>
    {% if "computer" == device %}
     <div class="box" >
      <ul class="f-nav"  >
	        <li class="fontNav" onclick="tiao('main');">首页</li>
	        <li onclick="tiao('movie');">电影</li>
	        <li onclick="tiao('anime');">动漫</li>
	        <li onclick="tiao('tv');">电视剧</li>
	        <!-- <li onclick="tiao('documentary');">纪录片</li>
          <li onclick="tiao('mv');">音乐M</li> -->
	       <div class='sideline'></div>
  	</ul>
  </div>
  <div class="top-search">
    <form class="navbar-form navbar-right" action="search" method="post">
      {% csrf_token %}
      <input type="text" class="form-control" id="form-control" name="form-control" placeholder="Search...">
      <input type="submit" value=" ">
    </form>
  </div>
      <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
      <script type="text/javascript" src="{% static 'js/jquery-nav.js' %}"></script>
      <script type="text/javascript">
      	$('#f-nav2').tooltip({
      		default: 0,
      		type: 'fontUp',
      		width: '150',
      	});
        function tiao(url){
          window.location.href=url;
        }
      </script>
      {% endif %}
    {% if "mobile" == device %}
        <div class="col-sm-3 col-md-2 sidebar"  style="position: fixed;top:0;z-index:9999;">
			<div class="top-navigation">
				<div class="t-menu">MENU</div>
				<div class="t-img">
					<img src="{% static 'images/lines.png' %}" alt="" />
				</div>
				<div class="clearfix"> </div>
			</div>
				<div class="drop-navigation drop-navigation">
				  <ul class="nav nav-sidebar">
					<li class="active"><a href="main" class="home-icon">首页</a></li>
					<li><a href="main" class="user-icon">电影</a></li>
					<li><a href="main" class="sub-icon">动漫</a></li>
					<li><a href="main" class="menu1">电视剧</a></li>
					<!-- <li><a href="main" class="menu">纪录片</a></li>
					<li><a href="main" class="song-icon">音乐Mv</a></li> -->
				  </ul>
						<script>
							$( ".top-navigation" ).click(function() {
							$( ".drop-navigation" ).slideToggle( 300, function() {
							// Animation complete.
							});
							});
						</script>
				</div>
        </div>
        {% endif %}
      <!-- <div style="width:auto;height:auto;"> -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          {% if "mobile" == device %}
          <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div id="navbar" class="navbar-collapse collapse">
    			<div class="top-search">
    				<form class="navbar-form navbar-right" action="search" method="post">
              {% csrf_token %} 
    					<input type="text" class="form-control" id="form-control" name="form-control" placeholder="Search...">
    					<input type="submit" value=" ">
    				</form>
    			</div>
            </div>
          </div>
         </nav>
         {% endif %}
  			<div class="main-grids">
  				<div class="top-grids">
  					<div class="recommended-info">
  						<h3>最近上映</h3>
  					</div>
  					<div class="col-md-4 resent-grid recommended-grid slider-top-grids">
  						<div class="resent-grid-img recommended-grid-img">
  							<a href="single.html"><img src="{% static 'images/t1.jpg' %}" alt="" /></a>
  							<div class="time">
  								<p>3:04</p>
  							</div>
  							<div class="clck">
  								<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
  							</div>
  						</div>
  						<div class="resent-grid-info recommended-grid-info">
  							<h3><a href="single.html" class="title title-info">Pellentesque vitae pulvinar tortor nullam interdum metus a imperdiet</a></h3>
  							<ul>
  								<li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
  								<li class="right-list"><p class="views views-info">2,114,200 views</p></li>
  							</ul>
  						</div>
  					</div>
  					<div class="col-md-4 resent-grid recommended-grid slider-top-grids">
  						<div class="resent-grid-img recommended-grid-img">
  							<a href="single.html"><img src="{% static 'images/t2.jpg' %}" alt="" /></a>
  							<div class="time">
  								<p>7:23</p>
  							</div>
  							<div class="clck">
  								<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
  							</div>
  						</div>
  						<div class="resent-grid-info recommended-grid-info">
  							<h3><a href="single.html" class="title title-info">Interdum pellentesque vitae pulvinar tortor nullam metus a imperdiet</a></h3>
  							<ul>
  								<li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
  								<li class="right-list"><p class="views views-info">4,200 views</p></li>
  							</ul>
  						</div>
  					</div>
  					<div class="col-md-4 resent-grid recommended-grid slider-top-grids">
  						<div class="resent-grid-img recommended-grid-img">
  							<a href="single.html"><img src="{% static 'images/t3.jpg' %}" alt="" /></a>
  							<div class="time">
  								<p>4:04</p>
  							</div>
  							<div class="clck">
  								<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
  							</div>
  						</div>
  						<div class="resent-grid-info recommended-grid-info">
  							<h3><a href="single.html" class="title title-info">Nullam interdum metus a imperdiet pellentesque vitae pulvinar tortor</a></h3>
  							<ul>
  								<li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
  								<li class="right-list"><p class="views views-info">71,174 views</p></li>
  							</ul>
  						</div>
  					</div>
  					<div class="clearfix"> </div>
  				</div>
  				<div class="recommended">
  					<div class="recommended-grids">
  						<div class="recommended-info">
  							<h3>Animated Cartoon</h3>
  						</div>
  						<script src="{% static 'js/responsiveslides.min.js' %}"></script>
  						 <script>
  							// You can also use "$(window).load(function() {"
  							$(function () {
  							  // Slideshow 4
  							  $("#slider3").responsiveSlides({
  								auto: true,
  								pager: false,
  								nav: true,
  								speed: 500,
  								namespace: "callbacks",
  								before: function () {
  								  $('.events').append("<li>before event fired.</li>");
  								},
  								after: function () {
  								  $('.events').append("<li>after event fired.</li>");
  								}
  							  });

  							});
  						  </script>
  						<div  id="top" class="callbacks_container">
  							<ul class="rslides" id="slider3">
  								<li>
  									<div class="animated-grids">
  										<div class="col-md-3 resent-grid recommended-grid slider-first">
  											<div class="resent-grid-img recommended-grid-img">
  												<a href="single.html"><img src="{% static 'images/c.jpg' %}" alt="" /></a>
  												<div class="time small-time slider-time">
  													<p>7:34</p>
  												</div>
  												<div class="clck small-clck">
  													<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
  												</div>
  											</div>
  											<div class="resent-grid-info recommended-grid-info">
  												<h5><a href="single.html" class="title">Varius sit sed viverra nullam viverra nullam interdum metus</a></h5>
  												<div class="slid-bottom-grids">
  													<div class="slid-bottom-grid">
  														<p class="author author-info"><a href="#" class="author">John Maniya</a></p>
  													</div>
  													<div class="slid-bottom-grid slid-bottom-right">
  														<p class="views views-info">2,114,200 views</p>
  													</div>
  													<div class="clearfix"> </div>
  												</div>
  											</div>
  										</div>
  										<div class="col-md-3 resent-grid recommended-grid slider-first">
  											<div class="resent-grid-img recommended-grid-img">
  												<a href="single.html"><img src="{% static 'images/c1.jpg' %}" alt="" /></a>
  												<div class="time small-time slider-time">
  													<p>6:23</p>
  												</div>
  												<div class="clck small-clck">
  													<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
  												</div>
  											</div>
  											<div class="resent-grid-info recommended-grid-info">
  												<h5><a href="single.html" class="title">Nullam interdum metus varius viverra nullam sit amet viverra</a></h5>
  												<div class="slid-bottom-grids">
  													<div class="slid-bottom-grid">
  														<p class="author author-info"><a href="#" class="author">John Maniya</a></p>
  													</div>
  													<div class="slid-bottom-grid slid-bottom-right">
  														<p class="views views-info">14,200 views</p>
  													</div>
  													<div class="clearfix"> </div>
  												</div>
  											</div>
  										</div>
  										<div class="col-md-3 resent-grid recommended-grid slider-first">
  											<div class="resent-grid-img recommended-grid-img">
  												<a href="single.html"><img src="{% static 'images/c2.jpg' %}" alt="" /></a>
  												<div class="time small-time slider-time">
  													<p>2:45</p>
  												</div>
  												<div class="clck small-clck">
  													<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
  												</div>
  											</div>
  											<div class="resent-grid-info recommended-grid-info">
  												<h5><a href="single.html" class="title">Varius sit sed viverra nullam viverra nullam interdum metus</a></h5>
  												<div class="slid-bottom-grids">
  													<div class="slid-bottom-grid">
  														<p class="author author-info"><a href="#" class="author">John Maniya</a></p>
  													</div>
  													<div class="slid-bottom-grid slid-bottom-right">
  														<p class="views views-info">2,114,200 views</p>
  													</div>
  													<div class="clearfix"> </div>
  												</div>
  											</div>
  										</div>
  										<div class="col-md-3 resent-grid recommended-grid slider-first">
  											<div class="resent-grid-img recommended-grid-img">
  												<a href="single.html"><img src="{% static 'images/c3.jpg' %}" alt="" /></a>
  												<div class="time small-time slider-time">
  													<p>4:34</p>
  												</div>
  												<div class="clck small-clck">
  													<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
  												</div>
  											</div>
  											<div class="resent-grid-info recommended-grid-info">
  												<h5><a href="single.html" class="title">Nullam interdum metus viverra nullam varius sit sed viverra</a></h5>
  												<div class="slid-bottom-grids">
  													<div class="slid-bottom-grid">
  														<p class="author author-info"><a href="#" class="author">John Maniya</a></p>
  													</div>
  													<div class="slid-bottom-grid slid-bottom-right">
  														<p class="views views-info">2,114,200 views</p>
  													</div>
  													<div class="clearfix"> </div>
  												</div>
  											</div>
  										</div>
  										<div class="clearfix"> </div>
  									</div>
  								</li>
  								<li>
  									<div class="animated-grids">
  										<div class="col-md-3 resent-grid recommended-grid slider-first">
  											<div class="resent-grid-img recommended-grid-img">
  												<a href="single.html"><img src="{% static 'images/c1.jpg' %}" alt="" /></a>
  												<div class="time small-time slider-time">
  													<p>4:42</p>
  												</div>
  												<div class="clck small-clck">
  													<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
  												</div>
  											</div>
  											<div class="resent-grid-info recommended-grid-info">
  												<h5><a href="single.html" class="title">Varius sit sed viverra viverra nullam nullam interdum metus</a></h5>
  												<div class="slid-bottom-grids">
  													<div class="slid-bottom-grid">
  														<p class="author author-info"><a href="#" class="author">John Maniya</a></p>
  													</div>
  													<div class="slid-bottom-grid slid-bottom-right">
  														<p class="views views-info">2,114,200 views</p>
  													</div>
  													<div class="clearfix"> </div>
  												</div>
  											</div>
  										</div>
  										<div class="col-md-3 resent-grid recommended-grid slider-first">
  											<div class="resent-grid-img recommended-grid-img">
  												<a href="single.html"><img src="{% static 'images/c2.jpg' %}" alt="" /></a>
  												<div class="time small-time slider-time">
  													<p>6:14</p>
  												</div>
  												<div class="clck small-clck">
  													<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
  												</div>
  											</div>
  											<div class="resent-grid-info recommended-grid-info">
  												<h5><a href="single.html" class="title">Nullam interdum metus viverra nullam varius sit sed viverra</a></h5>
  												<div class="slid-bottom-grids">
  													<div class="slid-bottom-grid">
  														<p class="author author-info"><a href="#" class="author">John Maniya</a></p>
  													</div>
  													<div class="slid-bottom-grid slid-bottom-right">
  														<p class="views views-info">2,114,200 views</p>
  													</div>
  													<div class="clearfix"> </div>
  												</div>
  											</div>
  										</div>
  										<div class="col-md-3 resent-grid recommended-grid slider-first">
  											<div class="resent-grid-img recommended-grid-img">
  												<a href="single.html"><img src="{% static 'images/c3.jpg' %}" alt="" /></a>
  												<div class="time small-time slider-time">
  													<p>2:34</p>
  												</div>
  												<div class="clck small-clck">
  													<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
  												</div>
  											</div>
  											<div class="resent-grid-info recommended-grid-info">
  												<h5><a href="single.html" class="title">varius sit sed viverra viverra nullam Nullam interdum metus</a></h5>
  												<div class="slid-bottom-grids">
  													<div class="slid-bottom-grid">
  														<p class="author author-info"><a href="#" class="author">John Maniya</a></p>
  													</div>
  													<div class="slid-bottom-grid slid-bottom-right">
  														<p class="views views-info">2,114,200 views</p>
  													</div>
  													<div class="clearfix"> </div>
  												</div>
  											</div>
  										</div>
  										<div class="col-md-3 resent-grid recommended-grid slider-first">
  											<div class="resent-grid-img recommended-grid-img">
  												<a href="single.html"><img src="{% static 'images/c.jpg' %}" alt="" /></a>
  												<div class="time small-time slider-time">
  													<p>5:12</p>
  												</div>
  												<div class="clck small-clck">
  													<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
  												</div>
  											</div>
  											<div class="resent-grid-info recommended-grid-info">
  												<h5><a href="single.html" class="title">Nullam interdum metus viverra nullam varius sit sed viverra</a></h5>
  												<div class="slid-bottom-grids">
  													<div class="slid-bottom-grid">
  														<p class="author author-info"><a href="#" class="author">John Maniya</a></p>
  													</div>
  													<div class="slid-bottom-grid slid-bottom-right">
  														<p class="views views-info">1,14,200 views</p>
  													</div>
  													<div class="clearfix"> </div>
  												</div>
  											</div>
  										</div>
  										<div class="clearfix"> </div>
  									</div>
  								</li>
  								<li>
  									<div class="animated-grids">
  										<div class="col-md-3 resent-grid recommended-grid slider-first">
  											<div class="resent-grid-img recommended-grid-img">
  												<a href="single.html"><img src="{% static 'images/c2.jpg' %}" alt="" /></a>
  												<div class="time small-time slider-time">
  													<p>4:42</p>
  												</div>
  												<div class="clck small-clck">
  													<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
  												</div>
  											</div>
  											<div class="resent-grid-info recommended-grid-info">
  												<h5><a href="single.html" class="title">Varius sit sed viverra viverra nullam nullam interdum metus</a></h5>
  												<div class="slid-bottom-grids">
  													<div class="slid-bottom-grid">
  														<p class="author author-info"><a href="#" class="author">John Maniya</a></p>
  													</div>
  													<div class="slid-bottom-grid slid-bottom-right">
  														<p class="views views-info">2,114,200 views</p>
  													</div>
  													<div class="clearfix"> </div>
  												</div>
  											</div>
  										</div>
  										<div class="col-md-3 resent-grid recommended-grid slider-first">
  											<div class="resent-grid-img recommended-grid-img">
  												<a href="single.html"><img src="{% static 'images/c3.jpg' %}" alt="" /></a>
  												<div class="time small-time slider-time">
  													<p>6:14</p>
  												</div>
  												<div class="clck small-clck">
  													<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
  												</div>
  											</div>
  											<div class="resent-grid-info recommended-grid-info">
  												<h5><a href="single.html" class="title">Nullam interdum metus viverra nullam varius sit sed viverra</a></h5>
  												<div class="slid-bottom-grids">
  													<div class="slid-bottom-grid">
  														<p class="author author-info"><a href="#" class="author">John Maniya</a></p>
  													</div>
  													<div class="slid-bottom-grid slid-bottom-right">
  														<p class="views views-info">2,114,200 views</p>
  													</div>
  													<div class="clearfix"> </div>
  												</div>
  											</div>
  										</div>
  										<div class="col-md-3 resent-grid recommended-grid slider-first">
  											<div class="resent-grid-img recommended-grid-img">
  												<a href="single.html"><img src="{% static 'images/c.jpg' %}" alt="" /></a>
  												<div class="time small-time slider-time">
  													<p>2:34</p>
  												</div>
  												<div class="clck small-clck">
  													<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
  												</div>
  											</div>
  											<div class="resent-grid-info recommended-grid-info">
  												<h5><a href="single.html" class="title">varius sit sed viverra viverra nullam Nullam interdum metus</a></h5>
  												<div class="slid-bottom-grids">
  													<div class="slid-bottom-grid">
  														<p class="author author-info"><a href="#" class="author">John Maniya</a></p>
  													</div>
  													<div class="slid-bottom-grid slid-bottom-right">
  														<p class="views views-info">2,114,200 views</p>
  													</div>
  													<div class="clearfix"> </div>
  												</div>
  											</div>
  										</div>
  										<div class="col-md-3 resent-grid recommended-grid slider-first">
  											<div class="resent-grid-img recommended-grid-img">
  												<a href="single.html"><img src="{% static 'images/c3.jpg' %}" alt="" /></a>
  												<div class="time small-time slider-time">
  													<p>5:12</p>
  												</div>
  												<div class="clck small-clck">
  													<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
  												</div>
  											</div>
  											<div class="resent-grid-info recommended-grid-info">
  												<h5><a href="single.html" class="title">Nullam interdum metus viverra nullam varius sit sed viverra</a></h5>
  												<div class="slid-bottom-grids">
  													<div class="slid-bottom-grid">
  														<p class="author author-info"><a href="#" class="author">John Maniya</a></p>
  													</div>
  													<div class="slid-bottom-grid slid-bottom-right">
  														<p class="views views-info">1,14,200 views</p>
  													</div>
  													<div class="clearfix"> </div>
  												</div>
  											</div>
  										</div>
  										<div class="clearfix"> </div>
  									</div>
  								</li>
  								<li>
  									<div class="animated-grids">
  										<div class="col-md-3 resent-grid recommended-grid slider-first">
  											<div class="resent-grid-img recommended-grid-img">
  												<a href="single.html"><img src="{% static 'images/c3.jpg' %}" alt="" /></a>
  												<div class="time small-time slider-time">
  													<p>4:42</p>
  												</div>
  												<div class="clck small-clck">
  													<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
  												</div>
  											</div>
  											<div class="resent-grid-info recommended-grid-info">
  												<h5><a href="single.html" class="title">Varius sit sed viverra viverra nullam nullam interdum metus</a></h5>
  												<div class="slid-bottom-grids">
  													<div class="slid-bottom-grid">
  														<p class="author author-info"><a href="#" class="author">John Maniya</a></p>
  													</div>
  													<div class="slid-bottom-grid slid-bottom-right">
  														<p class="views views-info">2,114,200 views</p>
  													</div>
  													<div class="clearfix"> </div>
  												</div>
  											</div>
  										</div>
  										<div class="col-md-3 resent-grid recommended-grid slider-first">
  											<div class="resent-grid-img recommended-grid-img">
  												<a href="single.html"><img src="{% static 'images/c.jpg' %}" alt="" /></a>
  												<div class="time small-time slider-time">
  													<p>6:14</p>
  												</div>
  												<div class="clck small-clck">
  													<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
  												</div>
  											</div>
  											<div class="resent-grid-info recommended-grid-info">
  												<h5><a href="single.html" class="title">Nullam interdum metus viverra nullam varius sit sed viverra</a></h5>
  												<div class="slid-bottom-grids">
  													<div class="slid-bottom-grid">
  														<p class="author author-info"><a href="#" class="author">John Maniya</a></p>
  													</div>
  													<div class="slid-bottom-grid slid-bottom-right">
  														<p class="views views-info">2,114,200 views</p>
  													</div>
  													<div class="clearfix"> </div>
  												</div>
  											</div>
  										</div>
  										<div class="col-md-3 resent-grid recommended-grid slider-first">
  											<div class="resent-grid-img recommended-grid-img">
  												<a href="single.html"><img src="{% static 'images/c1.jpg' %}" alt="" /></a>
  												<div class="time small-time slider-time">
  													<p>2:34</p>
  												</div>
  												<div class="clck small-clck">
  													<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
  												</div>
  											</div>
  											<div class="resent-grid-info recommended-grid-info">
  												<h5><a href="single.html" class="title">varius sit sed viverra viverra nullam Nullam interdum metus</a></h5>
  												<div class="slid-bottom-grids">
  													<div class="slid-bottom-grid">
  														<p class="author author-info"><a href="#" class="author">John Maniya</a></p>
  													</div>
  													<div class="slid-bottom-grid slid-bottom-right">
  														<p class="views views-info">2,114,200 views</p>
  													</div>
  													<div class="clearfix"> </div>
  												</div>
  											</div>
  										</div>
  										<div class="col-md-3 resent-grid recommended-grid slider-first">
  											<div class="resent-grid-img recommended-grid-img">
  												<a href="single.html"><img src="{% static 'images/c2.jpg' %}" alt="" /></a>
  												<div class="time small-time slider-time">
  													<p>5:12</p>
  												</div>
  												<div class="clck small-clck">
  													<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
  												</div>
  											</div>
  											<div class="resent-grid-info recommended-grid-info">
  												<h5><a href="single.html" class="title">Nullam interdum metus viverra nullam varius sit sed viverra</a></h5>
  												<div class="slid-bottom-grids">
  													<div class="slid-bottom-grid">
  														<p class="author author-info"><a href="#" class="author">John Maniya</a></p>
  													</div>
  													<div class="slid-bottom-grid slid-bottom-right">
  														<p class="views views-info">1,14,200 views</p>
  													</div>
  													<div class="clearfix"> </div>
  												</div>
  											</div>
  										</div>
  										<div class="clearfix"> </div>
  									</div>
  								</li>
  							</ul>
  						</div>
  					</div>
  				</div>
  				<div class="recommended">
  					<div class="recommended-grids">
  						<div class="recommended-info">
  							<h3>Recommended</h3>
  						</div>
  						<div class="col-md-3 resent-grid recommended-grid">
  							<div class="resent-grid-img recommended-grid-img">
  								<a href="single.html"><img src="{% static 'images/r1.jpg' %}" alt="" /></a>
  								<div class="time small-time">
  									<p>2:34</p>
  								</div>
  								<div class="clck small-clck">
  									<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
  								</div>
  							</div>
  							<div class="resent-grid-info recommended-grid-info video-info-grid">
  								<h5><a href="single.html" class="title">Varius sit sed viverra viverra nullam nullam interdum metus</a></h5>
  								<ul>
  									<li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
  									<li class="right-list"><p class="views views-info">2,114,200 views</p></li>
  								</ul>
  							</div>
  						</div>
  						<div class="col-md-3 resent-grid recommended-grid">
  							<div class="resent-grid-img recommended-grid-img">
  								<a href="single.html"><img src="{% static 'images/r2.jpg' %}" alt="" /></a>
  								<div class="time small-time">
  									<p>3:02</p>
  								</div>
  								<div class="clck small-clck">
  									<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
  								</div>
  							</div>
  							<div class="resent-grid-info recommended-grid-info video-info-grid">
  								<h5><a href="single.html" class="title">Nullam interdum metus viverra nullam varius sit sed viverra</a></h5>
  								<ul>
  									<li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
  									<li class="right-list"><p class="views views-info">2,114,200 views</p></li>
  								</ul>
  							</div>
  						</div>
  						<div class="col-md-3 resent-grid recommended-grid">
  							<div class="resent-grid-img recommended-grid-img">
  								<a href="single.html"><img src="{% static 'images/r3.jpg' %}" alt="" /></a>
  								<div class="time small-time">
  									<p>1:34</p>
  								</div>
  								<div class="clck small-clck">
  									<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
  								</div>
  							</div>
  							<div class="resent-grid-info recommended-grid-info video-info-grid">
  								<h5><a href="single.html" class="title">Varius sit sed viverra nullam viverra nullam interdum metus</a></h5>
  								<ul>
  									<li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
  									<li class="right-list"><p class="views views-info">2,114,200 views</p></li>
  								</ul>
  							</div>
  						</div>
  						<div class="col-md-3 resent-grid recommended-grid">
  							<div class="resent-grid-img recommended-grid-img">
  								<a href="single.html"><img src="{% static 'images/r4.jpg' %}" alt="" /></a>
  								<div class="time small-time">
  									<p>2:09</p>
  								</div>
  								<div class="clck small-clck">
  									<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
  								</div>
  							</div>
  							<div class="resent-grid-info recommended-grid-info video-info-grid">
  								<h5><a href="single.html" class="title">Nullam interdum viverra nullam metus varius sit sed viverra</a></h5>
  								<ul>
  									<li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
  									<li class="right-list"><p class="views views-info">2,114,200 views</p></li>
  								</ul>
  							</div>
  						</div>
  						<div class="clearfix"> </div>
  					</div>
  					<div class="recommended-grids">
  						<div class="col-md-3 resent-grid recommended-grid">
  							<div class="resent-grid-img recommended-grid-img">
  								<a href="single.html"><img src="{% static 'images/r4.jpg' %}" alt="" /></a>
  								<div class="time small-time">
  									<p>6:34</p>
  								</div>
  								<div class="clck small-clck">
  									<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
  								</div>
  							</div>
  							<div class="resent-grid-info recommended-grid-info video-info-grid">
  								<h5><a href="single.html" class="title">Varius sit sed viverra nullam viverra nullam interdum metus</a></h5>
  								<ul>
  									<li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
  									<li class="right-list"><p class="views views-info">2,114,200 views</p></li>
  								</ul>
  							</div>
  						</div>
  						<div class="col-md-3 resent-grid recommended-grid">
  							<div class="resent-grid-img recommended-grid-img">
  								<a href="single.html"><img src="{% static 'images/r5.jpg' %}" alt="" /></a>
  								<div class="time small-time">
  									<p>7:34</p>
  								</div>
  								<div class="clck small-clck">
  									<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
  								</div>
  							</div>
  							<div class="resent-grid-info recommended-grid-info video-info-grid">
  								<h5><a href="single.html" class="title">Nullam interdum metus viverra nullam varius sit sed viverra</a></h5>
  								<ul>
  									<li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
  									<li class="right-list"><p class="views views-info">2,114,200 views</p></li>
  								</ul>
  							</div>
  						</div>
  						<div class="col-md-3 resent-grid recommended-grid">
  							<div class="resent-grid-img recommended-grid-img">
  								<a href="single.html"><img src="{% static 'images/r6.jpg' %}" alt="" /></a>
  								<div class="time small-time">
  									<p>6:09</p>
  								</div>
  								<div class="clck small-clck">
  									<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
  								</div>
  							</div>
  							<div class="resent-grid-info recommended-grid-info video-info-grid">
  								<h5><a href="single.html" class="title">Varius sit sed viverra nullam viverra nullam interdum metus</a></h5>
  								<ul>
  									<li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
  									<li class="right-list"><p class="views views-info">2,114,200 views</p></li>
  								</ul>
  							</div>
  						</div>
  						<div class="col-md-3 resent-grid recommended-grid">
  							<div class="resent-grid-img recommended-grid-img">
  								<a href="single.html"><img src="{% static 'images/r1.jpg' %}" alt="" /></a>
  								<div class="time small-time">
  									<p>9:04</p>
  								</div>
  								<div class="clck small-clck">
  									<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
  								</div>
  							</div>
  							<div class="resent-grid-info recommended-grid-info video-info-grid">
  								<h5><a href="single.html" class="title">Nullam interdum metus viverra nullam varius sit sed viverra</a></h5>
  								<ul>
  									<li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
  									<li class="right-list"><p class="views views-info">2,114,200 views</p></li>
  								</ul>
  							</div>
  						</div>
  						<div class="clearfix"> </div>
  					</div>
  				</div>
  				<div class="recommended">
  					<div class="recommended-grids">
  						<div class="recommended-info">
  							<h3>Sports</h3>
  						</div>
  						<div class="col-md-3 resent-grid recommended-grid">
  							<div class="resent-grid-img recommended-grid-img">
  								<a href="single.html"><img src="{% static 'images/g.jpg' %}" alt="" /></a>
  								<div class="time small-time">
  									<p>7:30</p>
  								</div>
  								<div class="clck small-clck">
  									<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
  								</div>
  							</div>
  							<div class="resent-grid-info recommended-grid-info video-info-grid">
  								<h5><a href="single.html" class="title">Varius sit sed viverra nullam viverra nullam interdum metus</a></h5>
  								<ul>
  									<li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
  									<li class="right-list"><p class="views views-info">2,114,200 views</p></li>
  								</ul>
  							</div>
  						</div>
  						<div class="col-md-3 resent-grid recommended-grid">
  							<div class="resent-grid-img recommended-grid-img">
  								<a href="single.html"><img src="{% static 'images/g1.jpg' %}" alt="" /></a>
  								<div class="time small-time">
  									<p>9:34</p>
  								</div>
  								<div class="clck small-clck">
  									<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
  								</div>
  							</div>
  							<div class="resent-grid-info recommended-grid-info video-info-grid">
  								<h5><a href="single.html" class="title">Nullam interdum viverra nullam metus varius sit sed viverra</a></h5>
  								<ul>
  									<li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
  									<li class="right-list"><p class="views views-info">2,114,200 views</p></li>
  								</ul>
  							</div>
  						</div>
  						<div class="col-md-3 resent-grid recommended-grid">
  							<div class="resent-grid-img recommended-grid-img">
  								<a href="single.html"><img src="{% static 'images/g2.jpg' %}" alt="" /></a>
  								<div class="time small-time">
  									<p>5:34</p>
  								</div>
  								<div class="clck small-clck">
  									<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
  								</div>
  							</div>
  							<div class="resent-grid-info recommended-grid-info video-info-grid">
  								<h5><a href="single.html" class="title">Varius sit sed viverra nullam viverra nullam interdum metus</a></h5>
  								<ul>
  									<li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
  									<li class="right-list"><p class="views views-info">2,114,200 views</p></li>
  								</ul>
  							</div>
  						</div>
  						<div class="col-md-3 resent-grid recommended-grid">
  							<div class="resent-grid-img recommended-grid-img">
  								<a href="single.html"><img src="{% static 'images/g3.jpg' %}" alt="" /></a>
  								<div class="time small-time">
  									<p>6:55</p>
  								</div>
  								<div class="clck small-clck">
  									<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
  								</div>
  							</div>
  							<div class="resent-grid-info recommended-grid-info video-info-grid">
  								<h5><a href="single.html" class="title">Nullam interdum metus viverra nullam varius sit sed viverra</a></h5>
  								<ul>
  									<li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
  									<li class="right-list"><p class="views views-info">2,114,200 views</p></li>
  								</ul>
  							</div>
  						</div>
  						<div class="clearfix"> </div>
  					</div>
  					<div class="recommended-grids">
  						<div class="col-md-3 resent-grid recommended-grid">
  							<div class="resent-grid-img recommended-grid-img">
  								<a href="single.html"><img src="{% static 'images/we2.jpg' %}" alt=""></a>
  								<div class="time small-time">
  									<p>7:30</p>
  								</div>
  								<div class="clck small-clck">
  									<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
  								</div>
  							</div>
  							<div class="resent-grid-info recommended-grid-info video-info-grid">
  								<h5><a href="single.html" class="title">Varius sit sed viverra nullam viverra nullam interdum metus</a></h5>
  								<ul>
  									<li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
  									<li class="right-list"><p class="views views-info">2,114,200 views</p></li>
  								</ul>
  							</div>
  						</div>
  						<div class="col-md-3 resent-grid recommended-grid">
  							<div class="resent-grid-img recommended-grid-img">
  								<a href="single.html"><img src="{% static 'images/we1.jpg' %}" alt=""></a>
  								<div class="time small-time">
  									<p>9:34</p>
  								</div>
  								<div class="clck small-clck">
  									<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
  								</div>
  							</div>
  							<div class="resent-grid-info recommended-grid-info video-info-grid">
  								<h5><a href="single.html" class="title">Nullam interdum viverra nullam metus varius sit sed viverra</a></h5>
  								<ul>
  									<li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
  									<li class="right-list"><p class="views views-info">2,114,200 views</p></li>
  								</ul>
  							</div>
  						</div>
  						<div class="col-md-3 resent-grid recommended-grid">
  							<div class="resent-grid-img recommended-grid-img">
  								<a href="single.html"><img src="{% static 'images/we4.jpg' %}" alt=""></a>
  								<div class="time small-time">
  									<p>5:34</p>
  								</div>
  								<div class="clck small-clck">
  									<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
  								</div>
  							</div>
  							<div class="resent-grid-info recommended-grid-info video-info-grid">
  								<h5><a href="single.html" class="title">Varius sit sed viverra nullam viverra nullam interdum metus</a></h5>
  								<ul>
  									<li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
  									<li class="right-list"><p class="views views-info">2,114,200 views</p></li>
  								</ul>
  							</div>
  						</div>
  						<div class="col-md-3 resent-grid recommended-grid">
  							<div class="resent-grid-img recommended-grid-img">
  								<a href="single.html"><img src="{% static 'images/we3.jpg' %}" alt=""></a>
  								<div class="time small-time">
  									<p>6:55</p>
  								</div>
  								<div class="clck small-clck">
  									<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
  								</div>
  							</div>
  							<div class="resent-grid-info recommended-grid-info video-info-grid">
  								<h5><a href="single.html" class="title">Nullam interdum metus viverra nullam varius sit sed viverra</a></h5>
  								<ul>
  									<li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
  									<li class="right-list"><p class="views views-info">2,114,200 views</p></li>
  								</ul>
  							</div>
  						</div>
  						<div class="clearfix"> </div>
  					</div>
  				</div>
  			</div>
  		</div>
  <!-- </div> -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
